.main-footer {
  margin-top: 20px;
  margin-bottom: 0;
  background: linear-gradient(to left, hsl(251, 5%, 41%), hsl(249, 5%, 26%));
  color: hsl(240, 15%, 95%);
  border-radius: 10px;
  padding: 12px 25px;
  display: flex;
  flex-direction: row;
}
