* {
  box-sizing: border-box;
  transition: all 95ms ease-in-out;
}

:root {
  font-family: "Ubunutu Mono", monospace;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  background-color: hsl(240, 6%, 93%);
  cursor: default;
}
