* {
  box-sizing: border-box;
  transition: all 95ms ease-in-out;
}

:root {
  font-family: "Ubunutu Mono", monospace;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  background-color: hsl(240, 6%, 93%);
  cursor: default;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  min-width: 0px;
  padding: 25px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.error {
  width: 100%;
  text-align: center;
  background-color: hsl(0, 72%, 62%);
  color: white;
  padding: 5px;
  border-radius: 8px;
  margin: 0 0 15px;
}

.main-header {
  background: linear-gradient(to right, hsl(251, 75%, 41%), hsl(249, 41%, 16%));
  color: hsl(240, 15%, 95%);
  padding: 12px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main-header .logo {
  display: flex;
}
.main-header img {
  width: 55px;
  height: 55px;
  content-visibility: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header h1 {
  font-size: 3.5rem;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.main-header .menu-profile {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: hsl(240, 6%, 93%);
  border: 3px solid hsl(240, 64%, 43%);
  content-visibility: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer {
  margin-top: 20px;
  margin-bottom: 0;
  background: linear-gradient(to left, hsl(251, 5%, 41%), hsl(249, 5%, 26%));
  color: hsl(240, 15%, 95%);
  border-radius: 10px;
  padding: 12px 25px;
  display: flex;
  flex-direction: row;
}

.table-ctn {
  min-height: 65vh;
}

.table {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  color: hsl(251, 33%, 23%);
  border-collapse: collapse;
}
.table label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table tr {
  display: grid;
  grid-template-columns: 50px repeat(3, 1fr) 50px;
  overflow: hidden;
  justify-items: stretch;
  align-items: center;
  min-height: 65px;
}
.table tr .checkbox-ctn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table tr .checkbox-ctn input:hover {
  background-color: hsl(240, 6%, 73%);
}
.table tr .no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 50px 100px;
  color: hsl(240, 6%, 73%);
  font-weight: 700;
  text-transform: uppercase;
}
.table tr input[type=checkbox] {
  cursor: pointer;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: hsl(251, 2%, 85%);
  border-radius: 8px;
  appearance: none;
  outline: none;
}
.table tr input[type=checkbox]:checked {
  background-size: cover;
}
.table tr input[type=checkbox]:not(:disabled):checked {
  background-color: hsl(249, 40%, 46%);
}
.table tr input[type=checkbox]:disabled {
  background-color: hsl(251, 2%, 97%);
}
.table tr input[type=checkbox]:disabled:checked {
  background-color: hsl(6, 81%, 85%);
}
.table thead {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.table thead tr {
  height: 3.6rem;
  position: relative;
}
.table thead tr::after {
  content: "";
  width: 100%;
  border: 2px solid hsl(240, 6%, 96%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.table tbody tr {
  position: relative;
  cursor: default;
}
.table tbody tr:nth-child(odd) {
  background-color: hsl(240, 2%, 98%);
}
.table tbody tr::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: hsl(240, 6%, 96%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.table tbody tr:hover {
  background-color: hsl(240, 6%, 97%);
}
.table tbody tr.checked {
  background-color: hsl(70, 77%, 91%);
}
.table tbody tr td {
  overflow: hidden;
}

.btn-row .addParticipant-form {
  background-color: hsl(42, 37%, 93%);
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin: 10px 0;
  width: 100%;
  color: hsl(251, 33%, 23%);
  text-transform: uppercase;
  font-weight: 700;
}
.btn-row .addParticipant-form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.btn-row .addParticipant-form__inputs input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid hsl(240, 6%, 93%);
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: hsl(251, 33%, 23%);
  font-weight: 700;
}
.btn-row .addParticipant-form__inputs input:focus {
  outline: none;
  border-color: hsl(251, 75%, 41%);
  background-color: hsl(240, 6%, 93%);
}
.btn-row .addParticipant-form button {
  background-color: hsl(42, 77%, 63%);
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin: 10px 0;
  width: 100%;
  color: hsl(251, 33%, 23%);
  text-transform: uppercase;
  font-weight: 700;
}
.btn-row .addParticipant-form button:hover {
  background-color: hsl(42, 67%, 83%);
}

.editing input {
  min-height: 45px;
  min-width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid hsl(240, 6%, 93%);
  font-size: 1.2rem;
  color: hsl(251, 33%, 23%);
}
.editing input:focus {
  outline: none;
  border-color: hsl(251, 75%, 41%);
  background-color: hsl(240, 6%, 93%);
}

button,
.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 5px 5px;
}
button:disabled,
.edit-button:disabled {
  cursor: default;
}
button:disabled .edit-icon,
.edit-button:disabled .edit-icon {
  background-color: hsl(251, 2%, 97%);
}
button:disabled .edit-icon:hover,
.edit-button:disabled .edit-icon:hover {
  background-color: hsl(251, 2%, 97%);
}
button .edit-icon,
button .save-icon,
button .refresh-icon,
.edit-button .edit-icon,
.edit-button .save-icon,
.edit-button .refresh-icon {
  mask: url(../assets/edit_icon.svg) no-repeat center/contain;
  width: 30px;
  height: 30px;
  background-color: hsl(251, 22%, 61%);
}
button .edit-icon:hover,
button .save-icon:hover,
button .refresh-icon:hover,
.edit-button .edit-icon:hover,
.edit-button .save-icon:hover,
.edit-button .refresh-icon:hover {
  background-color: hsl(70, 92%, 13%);
}
button .save-icon,
.edit-button .save-icon {
  mask: url(../assets/save_icon.svg) no-repeat center/contain;
}
button .refresh-icon,
.edit-button .refresh-icon {
  mask: url(../assets/refresh_icon.svg) no-repeat center/contain;
}

.btn-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-row .add-btn {
  background-color: hsl(42, 37%, 93%);
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin: 10px 0;
  width: 100%;
  color: hsl(251, 33%, 23%);
  text-transform: uppercase;
  font-weight: 700;
}
.btn-row .add-btn:hover {
  background-color: hsl(42, 67%, 83%);
}
.btn-row .remove-btn {
  background-color: hsl(0, 90%, 75%);
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin: 0 0 10px;
  width: 100%;
  color: hsl(251, 33%, 23%);
  text-transform: uppercase;
  font-weight: 700;
}
.btn-row .remove-btn:hover {
  background-color: hsl(0, 90%, 60%);
}

.participants-page {
  background-color: hsl(0, 0%, 100%);
  padding: 12px 25px;
  border-radius: 10px;
}
.participants-page__right-menu {
  display: flex;
  flex-direction: ROW;
  align-items: center;
}
.participants-page__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.participants-page__menu h1,
.participants-page__menu p {
  margin: 0;
}
.participants-page__menu .event-name {
  font-size: 1.35rem;
  background: linear-gradient(to right, hsl(251, 72%, 41%), hsl(70, 62%, 43%));
  border: 3px solid hsl(250, 57%, 22%);
  min-width: 300px;
  height: 15px;
  padding: 12px 25px;
  background-color: hsl(240, 6%, 93%);
  font-weight: 400;
  border-radius: 10px;
  color: hsl(240, 15%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media (max-width: 1030px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .main-header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }
  .main-header img {
    width: 45px;
    height: 45px;
  }
  .main-header .menu-profile {
    margin-top: 10px;
  }
  .participants-page__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .participants-page__left-menu {
    text-align: center;
    margin-bottom: 20px;
  }
  .participants-page__right-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .table thead {
    visibility: collapse;
  }
  .table tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
  }
}

/*# sourceMappingURL=style.css.map */
