@media (max-width: 1030px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    h1 {
      font-size: 2.5rem;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
    }
    img {
      width: 45px;
      height: 45px;
    }

    .menu-profile {
      margin-top: 10px;
    }
  }

  .participants-page {
    &__menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__left-menu {
      text-align: center;
      margin-bottom: 20px;
    }

    &__right-menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .table {
    thead {
      visibility: collapse;
    }
    tr {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.35rem;
    }
  }
}
